*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

YouDo/keystores/
YouDo/app/Constants.kt

YouDo/app/src/main/assets/youdo-415515-555ce73bccc4.json
YouDo/app/release/app-release.apk


YouDo/app/google-services.json
YouDo/app/src/main/res/values/strings.xml